.main {
  display: flex;

  //for horizontal menu
  // flex-direction: column;
  min-height: 100vh;
  position: relative;
  .main__content {
    // float: left;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    .page-header {
    }
    .page-content {
      flex: 1;
      background-color: #f1f1f1;
      padding: 20px;
      display: flex;
      flex-direction: column;
    }
  }
}
