.list {
  // flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}
.zoomIn {
  transition-duration: 3000ms;
  opacity: 1;
}
.zoomOut {
  transition-duration: 3000ms;
  opacity: 0;
}
