.detail {
  .detail__header {
    background-color: #151f29;
    background-color: #49719c;
    background-color: #103863;
    background-image: linear-gradient(to bottom, #103863, #49719c);
    background-image: linear-gradient(to bottom, #5a8dc3, #49719c);
    color: #fff;
    padding: 10px;
    display: flex;
    .detail__title {
      flex: 1;
    }
    .detail-actions {
      display: flex;
      color: #dcd5dc;
      .btn-cmd {
        padding: 0 5px;
        cursor: pointer;
        width: 85px;
        &.btn-cmd--save {
          width: 100px;
        }
        &.btn-cmd--add-new {
          width: 105px;
        }
        &.btn-cmd--cancel {
          width: 90px;
        }
        &.active {
          color: #fff;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}
