.list {
  .list__filter {
    width: 100%;
    // background-color: #49719c;
    // background-color: #4875a5;
    padding: 10px 0;
    display: table;
    display: flex;
    flex-direction: column;
    .list_filter__controls-wrapper {
      float: right;
      .list_filter--label {
        color: #0073aa;
        display: block;
      }
      .list__filter__control {
        float: left;
        padding: 5px;
        .control_textbox {
          input {
            line-height: 20px;
            padding: 0 4px;
          }
        }
        .control_checkbox,
        .control_radiobutton {
          padding: 0 10px;
          label {
            cursor: pointer;
            color: #0073aa;
            padding: 0 10px;
            position: relative;
            input {
              margin-right: 10px;
            }
          }
        }
      }
    }
    .list-filter__btn_wrapper {
      float: right;
      .btn-cmd--search {
        float: left;
        color: #0073aa;
        cursor: pointer;
        margin-top: 5px;
        margin-right: 20px;
        &:hover {
          // background-color: #094688;
          position: relative;
          display: block;
          &:before {
            content: '';
            width: 100%;
            height: 2px;
            background-color: #0073aa;
            position: absolute;
            bottom: 0;
            left: 0;
          }

        }
      }
      .btn-cmd--search-reset {
        float: left;
        color: #0073aa;
        cursor: pointer;
        margin-top: 5px;
        
        &:hover {
          // background-color: #094688;
          position: relative;
          display: block;
          &:before {
            content: '';
            width: 100%;
            height: 2px;
            background-color: #0073aa;
            position: absolute;
            bottom: 0;
            left: 0;
          }

        }
      }
    }
  }
}
